<div class="container">
  {{>components/course}}
  </br></br></br></br>
</div>


<!--<form action="/aceptarPago" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_gaby5qpjEypGf8MJnH20RSQD00z5Ec16AQ"
    data-amount="{{Price}}00"
    data-currency="mxn"
    data-name="CEDIEM - {{id_course}}"
    data-description="Compra protegida por stripe"
    data-image="https://res.cloudinary.com/dinzw8gc3/image/upload/v1565068700/CEDIEM/Website/Structure/icon_cwxeqe.png"
    data-locale="auto">
  </script>
  <script>
      document.getElementsByClassName('stripe-button-el')[0].style.display ='none';
 </script>
  <button id="botonPagoStripe" class="btn btn-dark">
      comprar<i></i>
  </button>
</form>-->