<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 mt-4 mx-auto">
            <div class="card mt-4t ext-center">
                {{#if recovered}}
                <div class="card-header">
                    <h2>Éxito</h2>
                </div>

                <div class="card-body">
                    <p>Tu contraseña se ha cambiado, accede ahora</p>
                    <a href="/acceso" class="btn btn-dark cart">Accede</a>
                </div>
                {{/if}}
                {{#if recover}}
                <div class="card-header">
                    <h2>Nueva contraseña</h2>
                </div>

                <div class="card-body">
                    <form action="/recuperar" method="POST">
                        <div class="form-group">
                            <input type="hidden" class="fomr-control" name="user" value="{{user}}" >
                            <input type="hidden" class="fomr-control" name="token" value="{{token}}" >

                            <input type="password" class="fomr-control" name="newPassword" 
                            placeholder="Nueva contraseña" value="">
                            </br></br>
                            <input type="password" class="fomr-control" name="confirmPassword" 
                            placeholder="Confirmar ontraseña" value="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark">Cambiar</button>
                        </div>
                    </form>
                </div>
                {{else}}
                <div class="card-header">
                    <h2>Link caducado</h2>
                </div>
                <div class="card-body">
                    <form action="/recuperar" method="POST">
                        <button onclick="goBack()" class="btn btn-dark"> Regresar</button>
                    </form>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
</br></br></br>