<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 cart" style="background-color: rgb(2, 99, 83);">

  <div>
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h5 class="mb-0">¡Síguenos en nuestras redes sociales!</h5>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-6 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text fa-2x"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">CEDIEM</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
        <p>Certificando profesionales</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Enlaces útiles</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a style="color:white" class="dark-grey-text" href="/registro">Crea una cuenta</a>
        </p>
        <p>
          <a style="color:white" class="dark-grey-text" href="/areas">Áreas</a>
        </p>
        <p>
          <a style="color:white" class="dark-grey-text" href="/contacto">Contacto</a>
        </p>
        <p>
          <a style="color:white" class="dark-grey-text" href="/nosotros">Nosotros</a>
        </p>
        <p>
          <a style="color:white" class="dark-grey-text" href="/cursos/1">Cursos</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> 
          <a style="color:white" href="https://www.google.com/maps/place/Cipr%C3%A9s,+San+Andr%C3%A9s+Totoltepec,+14400+Ciudad+de+M%C3%A9xico,+CDMX/@19.2772647,-99.1927255,16.75z/data=!4m5!3m4!1s0x85cdfe278b74c295:0x8b89e248bab9c4e4!8m2!3d19.2765757!4d-99.190657" target="_blank">
            Calle Ciprés Mza.5 Lt.4 Col. Bosques de Tepeximilpa Alcaldía Tlalpan C.P 14420
          </a>
          </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> 
          <a style="color:white" href="mailto: contacto@cediem.com" target="_blank">
              contacto@cediem.com
          </a>
          </p>
        <p>
          <i class="fas fa-phone mr-3"></i> 
          <a style="color:white" href="https://wa.me/5611357662" target="_blank">
              56 11 35 76 62
          </a>
        </p>
        
        <p>
          <i class="fas fa-print mr-3"></i> 
           <a style="color:white" href="tel:55-26-33-91-96" target="_blank">
              55 26 33 91 96
            </a>
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3"><p style="color:white">© 2020 Copyright:</p>
    <a style="color:white" class="dark-grey-text" href="/"> cediem.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->