<div class="bg">
  <div class="container" style="margin: 0 0 0 0;">
    {{>components/welcome}}
  </div>
</div>

<div class="jumbotron bg-cediem">
  <div class="row">

    <div class="col-md-4 col-sm-12">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded-circle"
            src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1569171317/CEDIEM/Website/Structure/icons/proffesionals_f7su33.jpg"
            alt="Expertos" width="250" height="250">
        </div>
        <div class="col-md-8">
          <p class="text-white font-weight-bold">Instructores expertos</p>
          <p class="text-white">Como empresa nos interesa el
            valor personal y educativo de
            nuestros instructores.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <img class="img-fluid rounded-circle"
            src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1569171318/CEDIEM/Website/Structure/icons/multi_uqspp1.jpg"
            alt="Areas" width="250" height="250">
        </div>
        <div class="col-md-8">
          <p class="text-white font-weight-bold">Diferentes áreas disciplinares</p>
          <p class="text-white">Contamos con 9 áreas a cargo de
            personas altamente preparadas
            para brindarte el mejor servicio.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded-circle"
            src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1569171074/CEDIEM/Website/Structure/icons/rythm_kwfq99.jpg"
            alt="Accesible" width="250" height="250">
        </div>
        <div class="col-md-8">
          <p class="text-white font-weight-bold">Accesible</p>
          <p class="text-white">Aprende a tu ritmo, tú eliges, desde tu hogar o en alguna de nuestras aulas más
            cercanas.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h2>Cursos y diplomados destacados.</h2>
  <br />
  {{>components/courses}}
</div>

<div class="container">
  {{#if user.id_user}}
    <a href="http://moodle.cediem.com/">
      <img src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1573601133/CEDIEM/Website/Structure/moodleicon_u6yzho.jpg" alt="imagen">
    </a>
  {{else}}
    <a href="http://moodle.cediem.com/">
      <img src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1573601133/CEDIEM/Website/Structure/moodleicon_u6yzho.jpg" alt="imagen">
    </a>
  {{/if}}
</div>

<div class="container">
  <h2>Áreas</h2>
  <br />
  {{>components/roots}}
</div>

<!--<div class="container">
  <h2>Quien confía en nosotros</h2>
  <br />
  {{>components/enterprises}}
</div>-->

<!--<div class="container">
  <h2>Comentarios</h2>
  <br />
  {{>components/successCases}}
</div> -->

<div class="container mx-auto">
  <section id="Demostration">
    <div class="col-md-6 col-sm-12 ">
      <div class="row">
        <div class="col-md-12 col-sm-12 ">
          </br> </br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/N4NWBvdjdXE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      </br>
      <div class="row">
        <div>
          <h3 class="font-cediem">Capacitación y actualización educativa</h3>
          <p> A nivel directivo, administrativo y docencia acorde a las exigencias del nuevo contexto educativo.</p>
        </div>
      </div>
      <div class="row">
        <div>
          <h3 class="font-cediem">Diplomados cursos y talleres</h3>
          <p> Con temas y estructuras innovadoras en el área médica, psicológica, pedagógica, legal, contable,
            holística, entre otras.</p>
        </div>
      </div>
      <div class="row">
        <div>
          <h3 class="font-cediem">Capacitación para el trabajo</h3>
          <p> Preparación para la incorporación a actividades productivas en oficios y áreas específica que
            garantiza su mejor desempeño empresarial, técnico, comercial y de servicios.</p>
        </div>
      </div>
      <div class="row">
        <div>
          <h3 class="font-cediem">Educación para la salud</h3>
          <p> Física mental, social, emocional y espiritual, trabajando de manera colaborativa en pro de una
            salud integral.</p>
        </div>
      </div>
      <div class="row">
        <div>
          <h3 class="font-cediem">Diseño de materiales didácticos</h3>
          <p> Guías, cuaderno de notas, syllabus, planeaciones, antologías, vídeos educativos, entre otros.</p>
        </div>
      </div>
      <div class="row">
        <div>
          <h3 class="font-cediem">Asesoría</h3>
          <p> Congresos, presentación de libros, conferencias, convenciones, ponencias, foros, simposios,
            debates, retiros, encuentros, jornadas, seminarios, etc., en diversas áreas disciplinares.</p>
        </div>
      </div>
      <div class="row">
        <div>
          <h3 class="font-cediem">Organización de eventos</h3>
          <p> Pedagógica, psicológica, psicopedagógica, en proyectos educativos, diagnóstico de necesidades de
            capacitación; diseño, actualización y evaluación curricular.</p>
        </div>
      </div>
    </div>

  </section>
</div>

<div class="container">
  <h2>Contacto</h2>
  <br />
  {{>components/contacts}}
  </br></br></br>
</div>