<section id="services">
    <div class="row">
        <div class="col-md-6 col-sm-12 ">
            <h3 class="font-cediem col-12">Mapa</h3>
            </br> </br>
            <a target="_blank"
                href="https://goo.gl/maps/BLLG1q7mnmucjKma9">
                <img src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1572295155/CEDIEM/Website/Structure/mapa_iuwiqb.png"
                    alt="Mapa" class="img-fluid">
            </a>
        </div>
        <div class="col-md-6 col-sm-12 ">
            <h3 class="font-cediem col-12">Contactos</h3>
            </br> 
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1569172084/CEDIEM/Website/Structure/icons/mail_s74xmw.jpg" alt="Correo" class="rounded-circle" width="100" height="100">
                </div>
                <div class="col-8">
                    <a href="mailto: contacto@cediem.com" target="_blank">
                        </br>
                        <p class="font-cediem">contacto@cediem.com</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1570602178/CEDIEM/Website/Structure/icons/phone_qpwqqy.png" alt="Phone" class="rounded-circle" width="100" height="100">
                </div>
                <div class="col-8">
                    <a href="tel:55-26-33-91-96" target="_blank">
                    </br>
                        <p class="font-cediem">55 26 33 91 96</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1569172084/CEDIEM/Website/Structure/icons/whats_lpsyqf.jpg" alt="Whatsapp" class="rounded-circle" width="100" height="100">
                </div>
                <div class="col-8">
                    <a href="https://wa.me/5611357662" target="_blank">
                    </br>
                        <p class="font-cediem">56 11 35 76 62</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1569172084/CEDIEM/Website/Structure/icons/map_umkjue.jpg" alt="Ubicación" class="rounded-circle" width="100" height="100">
                </div>
                <div class="col-8">
                    <a href="https://goo.gl/maps/BLLG1q7mnmucjKma9" target="_blank">
                        </br>
                        <p class="font-cediem">Calle Ciprés Mza.5 Lt.4 Col. Bosques de Tepeximilpa Alcaldía Tlalpan C.P 14420</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>
