<div class="jumbotron" style="background: none;">
	</br></br></br>
	<!--<table>
		<tr>
			<th>
				<h1 class="display-5">CEDIEM</h1>
				<p class="lead">Certifícate para alcanzar tus metas.</p>
				<hr class="my-4">
				<p class="text-sm-left">Mejores ofertas de empleo</p>
				<p class="text-sm-left">Cursos y talleres presenciales y en línea ¡TU DECIDES!</p>
				<a href="/acceso" class="btn cart btn-lg">Comienza ahora</a>
			</th>
			<th>
				<img class="img-fluid"
					src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1564778449/CEDIEM/Website/Structure/CEDIEM_FULL_urzvbl.svg"
					alt="CEDIEM" width="307" height="240">
			</th>
		</tr>
	</table>-->

	<div class="row">
		<div class="col-md-4 col-xs-12">
			</br></br>
			<h1 class="display-5">CEDIEM</h1>
			<p class="lead">Certifícate para alcanzar tus metas.</p>
			<hr class="my-4">
			<p class="text-sm-left">Una buena preparación te garantiza acceder a mejores ofertas de empleo</p>
			<p class="text-sm-left">Cursos y talleres presenciales y en línea </br>¡TÚ DECIDES!</p>
			<a href="/acceso" class="btn cart btn-lg">Comienza ahora</a>
		</div>
		<div class="col-md-8 col-xs-10">
			</br></br>
			<img class="img-fluid" style="margin:-25px;"
				src="https://res.cloudinary.com/dinzw8gc3/image/upload/v1564778449/CEDIEM/Website/Structure/CEDIEM_FULL_urzvbl.svg"
				alt="CEDIEM">
		</div>
	</div>
</div>